<html>

<body>

<h1>Add Movie</h1>

<form action="/movies/add" method="post">

Name: <input type="text" name="name"><br>

Genres: <input type="text" name="genres"><br>
Image:  <input type="text" name="image"><br>
Premiered:  <input type="text" name="premiered"><br>

<input type="submit" value="add">


</form>

<form action="/movies">
    <input type="submit" value="Cancel"/>
</form>

</html>