<html>

<body>

<h1>Add a New Movie Subscribe  </h1>

<form action="/members/addsubscreption" method="post">

<div class="dropdown">
  <button >Dropdown</button>
  <div class="dropdown-content">
    
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div>
<input type="submit" value="Subscribe">


</form>

<form action="/members">
    <input type="submit" value="Cancel"/>
</form>

</html>