
<html>
   
    <h1> Movies Subsctioption Web site </h1>
    
    <a input type ="button" href="/movies" class="button">Movies</a>
    <a input type ="button" href="/members" class="button">Subscriptions</a>
    <a input type ="button" href="/users" class="button"> Users Management</a>
    <a href="/logout" class="button">Logout</a>
    </html>