
<html>

    <h1> Movies Main </h1>
   
    <form action="/movies/all">
        <input type="submit" value="All movies" />
    </form>
    
    <form action="/movies/add">
        <input type="submit" value="Add Movies"/>
    </form>
   
    </html>