
<html>

    <h1> Members</h1>
   
    <form action="/members/all">
        <input type="submit" value="All Members" />
    </form>
    
    <form action="/members/add">
        <input type="submit" value="Add Member"/>
    </form>
   
    </html>