
<html>

    <h1> Users </h1>
   
    <form action="/users/all">
        <input type="submit" value="All Users" />
    </form>
    
    <form action="/users/add">
        <input type="submit" value="Add User"/>
    </form>
   
    </html>